@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-ExtraBold.ttf);
		font-weight: bold;
}

@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-Regular.ttf);
		font-weight: normal;
}

		