body {
  font-family: "Akrobat", sans-serif;
	font-weight: normal;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
	padding: 0;
}

header {
  display: flex;
  width: 100%;
}

header a img {  
	position: fixed;
	top: 5%;
	left: 3.4%;
	z-index: 100;
}

.menu {
	position: fixed;
	top: 1.3%;
	right: 0;
	z-index: 100;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
	padding: 3.5% 4%;
  list-style: none;
  background-color: rgba(216,71,71,.4);
}

.menu ul li {
	padding: 0 2%;
}

.menu a {
	font-weight: bold;
	font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
	line-height: 0;
	margin: 0 3%;
  color: #fff;
  transition: all 1s;
}

.menu a:hover {
	font-weight: bold;
  font-size: 1.3em;
  padding: 0 5%;
	line-height: 0;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.burger {
	display: none;
}



.top_head {
	background-position: center;
  background-image: url(../img/bg_top3.jpg);
  z-index: 1;
}

.top_overlay {
  background-color: rgba(255,255,255,.2);
  z-index: 2;
}

.top_text {
  display: flex;
  flex-direction: column;
	padding: 12em 0 10em 4%;
  width: 60%;
}

.top_text div {
	font-weight: bold;
  text-transform: uppercase;
  font-size: 11.2em;
  line-height: .97em;
  letter-spacing: .02em;
  text-shadow: 0 0 15px rgba(0,0,0,.4);
	animation-duration: 7s;
}

.top_text h1 {
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1em;
	animation-duration: 7s;
}

.button_main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2em;
  width: 30%;
  height: 2.2em;
  background-color: #d84747;
  border-radius: 5px;
  border-bottom: 5px solid #b02e28;
  text-decoration: none;
  text-transform: uppercase;
	font-weight: bold;
  font-size: 1.8em;
	letter-spacing: .07em;
  color: #fff;
	animation-duration: 2s;
}

.button_main:hover {
  background-color: #d85050;
}

.button_main:active {
  border-bottom: 0;
  margin-top: 1.5em;
} 



.about_us {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: .4em 0;
  background-color: #fff;
  color: #3e3e3e;
  font-size: 0.8em;
	animation-duration: 2s;
}

.button_blog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 2.8em;
  background-color: #d95a5a;
  border-radius: 5px;
  border-bottom: 4px solid #b02e28;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
	z-index: 3;
}

.button_blog:hover {
  background-color: #d96868;
}

.button_blog:active {
  border-bottom: 0;
  margin-top: .6em;
} 


/* Блог 1 секция */
.about_us .blog_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
	padding: 1.8em 0 1.8em 2.5em;
	width: 32.7%;
  background-color: #fbfbfd;
  border: 1px solid #e1e1e1;
}

.about_us .blog_1 span  {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;
	z-index: 3;
}

.about_us .blog_1 p {
	margin: 0;
	padding: 1em 0;
  font-size: 1.3em;
  line-height: 1.2em;
	width: 55%;
	z-index: 3;
}

.about_us .blog_1 img {
  position: absolute;
  right: 25px;
  bottom: 0;
	z-index: 1;
}


/* Блог 2 секция */
.about_us .blog_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3e3e3e;
  width: 12.1%;
  margin: 0 .3%;
	padding: 2em 2.2em;
  border: 1px solid #e1e1e1;
  color: #fbfbfd;
}

.about_us .blog_2 span  {
	font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;
}

.about_us .blog_2 p {
	margin: 0;
	padding: 1em 0;
  font-size: 1.3em;
  line-height: 1.2em;
}


/* Блог 3 заслуги секция */
.about_us .blog_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fbfbfd;
  width: 12.1%;
  margin-right: 7px;
	padding: 2em 2.2em;
  border: 1px solid #e1e1e1;
}

.about_us .blog_3 span  {
	font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;
}

.about_us .blog_3 p {
	margin: 0;
	padding: 1em 0;
  font-size: 1.3em;
	line-height: 1.2em;
}


/* Блог 4 заслуги секция */
.about_us .zaslygi {
	display: flex;
  flex-direction: row;
  justify-content: left;
  width: 33.8%;
	padding: .3% 0;
	background-color: #fbfbfd;
  border: 1px solid #e1e1e1;
  text-transform: uppercase;
  font-size: 2.2em;
  color: #3e3e3e;
}

.about_us .zaslygi .zaslygi_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
	padding: 1.5% 0;
	padding-left: 13%;
}

.about_us .zaslygi .zaslygi_counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
	margin: 0 4.5%;
  color: #d84747;
  font-size: 2.3em;
}

.about_us .zaslygi .zaslygi_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2em;
	padding: 3.2% 0;
}


/*Секция Слайдер*/
#block-for-slider {
    width: 100%;
    margin: 0 auto;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255, .7);
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn i {
	color: #000;
	font-size: 3.2em;
	padding-right: .1em; 
}

#next-btn i {
	color: #000;
	font-size: 3.2em;
	padding-left: .1em; 
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
		background-color: #d96868;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255, .7);
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
		background-color: #d96868;
}



/*Секция Портфолио*/
.portfolio {
  display: flex; 
  border: 1px solid #e1e1e1;
	font-family: "Akrobat", sans-serif;
	font-weight: 600;
}

.portfolio .item_portf {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 25%;
	overflow: hidden;
	
}

.portfolio div {
	display: flex;
	position: absolute;
	text-align: center;
	align-items: center;
	height: 90%;
	width: 80%;
	padding: 0 2%;
  color: rgba(0, 0, 0, 0.3);
	background-color: rgba(255,255,255,.3);
	border-radius: 5px;
	font-size: 2.5em;
	color: rgba(16, 16, 16, .3);
	transition: all 1s;
}

.portfolio .item_portf:hover div {
	background-color: rgba(255,255,255,.8);
	color: #3e3e3e;
	font-size: 2.8em;
}


/*Секция Услуги*/
.uslygi {
	display: flex;
	justify-content: center;
  background-color: #f6f6f6;
	font-family: "Akrobat", sans-serif;
  color: #646464;
}

.uslygi .boxs{
	display: flex;
	flex-direction: column;
	margin: 3% 1%;
  width: 23%;
  background-color: #fff;
  border: 2px solid #e1e1e1;
}

.boxs span {
	margin-top: 12%;
  font-size: 5rem;
	text-align: center;
	color: #ddd;
}

.boxs h2 {
	margin: 0;
	margin-top: 10%;
  text-align: center;
	text-transform: uppercase;
  font-size: 2em; 
  color: #717171;
}

.boxs ul {
	width: 80%;
	margin-top: 18%;
	margin-left: 5%;
	font-size: 1.2em;
	font-family: "Akrobat", sans-serif;
	color: #d84747;
}

.boxs ul li {
	padding-bottom: 1.8em; 
}

.boxs ul span {
	font-size: 1em;
	color: #717171;
}

/* Секция форма */
.callus {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 0;
  background-color: #f6f6f6;
	color: #717171;
	font-family: "Akrobat", sans-serif;
}

.callus span {
	display: none;
	font-size: 6.8rem;
	padding-right: .5em;
}

.callus h2 {
		margin: 0;
		font-size: 2em;
		letter-spacing: 3px;
}

.callus h1 {
		margin: 0;
		display: flex;
		vertical-align: middle;
		padding-top: .4em;
}

.callus a:hover {
		color: #d85050;
}

.callus h1:hover {
		color: #d85050;
}

.callus h1 a{
		text-decoration: none;
		color: #717171;
		font-size: 3.5rem;
		letter-spacing: 4px;
}

.callus h1 span {
		display: inline;
		font-size: 5rem;
		padding-right: .3em;
}

.callus a {
		text-decoration: none;
		color: #717171;
		font-size: 1.2rem;
		letter-spacing: 2px;
		text-transform: uppercase;
	font-weight: bold;
}

.callus a span {
		display: inline;
		font-size: 1.3rem;
		padding-right: .5em;
}

.callus form {
		display: flex;
		flex-direction: column;
		padding-top: 3em;
}

form input, textarea {
	background-color: transparent;
	border: transparent;
	width: 95%;
	margin: 0 1em;
	font-family: "Akrobat", sans-serif;
	font-size: 1.2em;
	color: #8c8c8c;
}

textarea {
	padding-top: 2%;
}

form input::placeholder {
	color: #818181;
	font-size: .9em;
}

form textarea::placeholder {
	color: #818181;
	font-size: .9em;
}

form :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

form div {
	display: flex;
}

.form_s1, .form_s2 {
	width: 100%;
	height: 2.8em;
	background-color: #ebebeb;
	border-top: 1px solid #8c8c8c;
}

.form_s2 {
	margin-left: 6%;
}

.form_s3 {
	margin-top: 6.5%;
	width: 40em;
	height: 2.8em;
	background-color: #ebebeb;
	border-top: 1px solid #8c8c8c;
}

.form_s4 {
	margin-top: 6.5%;
	width: 40em;
	height: 11em;
	background-color: #ebebeb;
	border-top: 1px solid #8c8c8c;
}

.button_form {
	display: flex;
  align-items: center;
  justify-content: center;
	margin: 1.2em 20% 0 20%;
	width: 60%;
  height: 60px;
  background-color: #d84747;
  border-radius: 5px;
  border-bottom: 5px solid #b02e28;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8em;
	font-weight: bold;
  color: #fff;
	letter-spacing: .07em;
}

.button_form:hover {
  background-color: #d85050;
}

.button_form:active {
  border-bottom: 0;
  margin-top: 1.5em;
} 



footer {
	display: flex;
	justify-content: center;
  background-color: #3e3e3e;
	position: relative;
	align-content: center;
}

footer .footer_content {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

footer .footer_content ul {
		display: flex;
		list-style: none;
}

.tel_footer {
		display: flex;
		flex-direction: column;
		padding: 0;
		padding-top: .8%;
}

.tel_footer li {
		font-size: 1.1rem;
		padding-bottom: 10px;
}

.footer_content ul.socials {
		display: flex;
		justify-content: space-around;
		width: 50%;
		margin: 0;
		padding: 0;
		padding-top: 3.2%;
		text-transform: uppercase;
		font-size: 1.2rem;
}

.footer_content ul.socials a {
	font-family: "Akrobat", sans-serif;
	color: #f6f6f6;
	text-decoration: none;
}

.footer_content ul.socials a:hover {
	color: #d85050;
}

.footer_content ul.socials a span {
	padding-right: 8px;
}

footer a img {
		padding: 25px 0;
}

.maximilian {
	color: #f6f6f6;
	padding-top: 3.2%;
}

.maximilian:hover {
	color: #d85050;
}


/* СТРАНИЦА ГАЛЛЕРЕИ */
.bggal {
	background-image: url(../img/inter1.jpg);
}

.buttonsmall {
	width: 20%;
}

.top_text .smallhead {
    font-size: 8em;
}


.small {
  font-size: 11px;
  color: #999;
  display: block;
  margin-top: -10px;
}

.cont {
  text-align: center;
	background: #fbfbfd;
}

.page-head .lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 50px;
  margin-top: 0;
}


.page-head h1 {
  font-size: 42px;
  margin: 0 0 20px;
  color: #FFF;
  position: relative;
  display: inline-block;
}

.page-head h1 .version {
  bottom: 0;
  color: #ddd;
  font-size: 11px;
  font-style: italic;
  position: absolute;
  width: 58px;
  right: -58px;
}

.demo-gallery > ul {
  margin-bottom: 0;
	margin-top: 8px;
  padding-left: 6px;
}

.demo-gallery > ul > li {
  margin-bottom: 3px;
  width: 309px;
  display: inline-block;
  margin-right: 3px;
  list-style: outside none none;
}

.demo-gallery > ul > li a {
  border: 1px solid #e1e1e1;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 200px;
  width: 100%;
}

.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(255,255,255,.2);
}

.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}