html {
	overflow-x:hidden;
}

$font-primary: 'Montserrat';
$font-secondary: 'Montserrat';

// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;
$brand-primary: white !default;
$brand-white: #fff;
$brand-black: #222;
$brand-lighter: #727272;
$brand-selection-color: #000;
$brand-body-color: #fcfcfc;
$brand-body-bg: #f9f7f7;
$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;

// Mixin
@mixin transition($transition) {
    -moz-transition: all $transition ease;
    -o-transition: all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: all $transition ease;
    transition: all $transition ease;
}
@mixin inline-block() {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QG'; 
	src: url(/fonts/QG.ttf); 
}

@mixin icomoon() {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';


// Template Base
body {
	font-family: $font-primary;
	line-height: 1.8;
	font-size: 20px;
	background: #ffff;
	font-weight: 300;
	overflow-x: hidden;
	position: relative;

	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}

a:hover, a:focus {
	color: $brand-white;
	font-weight: 300;
	text-decoration: underline;
}

#fh5co-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	> div {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
}	

p, span {
	font-size: 20px;
	color: black;
	font-weight: 300;
	font-family: $font-primary;
	margin: 0;
}
span{
	font-size: 18px;
	color: rgba($brand-lighter,.8);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-secondary;
	margin: 0;
}

::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

#fh5co-page {
	position: relative;
	-webkit-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-moz-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-ms-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-o-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	background: $brand-white;
	.menu-show & {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
	}
}


#fh5co-main-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.93);
	z-index: 1002;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-moz-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-ms-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-o-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-webkit-transform: scale(0.0);
	-moz-transform: scale(0.0);
	-ms-transform: scale(0.0);
	-o-transform: scale(0.0);
	transform: scale(0.0);
	overflow-y: scroll;
	.fh5co-nav-toggle {
		position: absolute;
		top: 40px;
		right: 30px;
		padding: 20px;
		height: 50px;
		width: 50px;
		line-height: 0;
		padding: 0!important;
		visibility: hidden;
		opacity: 0;
		@include border-radius(50%);
		@include transition(.3s);
		&:hover {
			background: rgba(0,0,0,.7);
		}
		i {
			top: 21px !important;
			left: 0!important;
			margin: 0!important;
			padding: 0!important;
			line-height: 0;
			text-indent: 0;
		}
		&.show {
			visibility: visible;
			opacity: 1;
		}
	}

	.menu-show & {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
	}

	h1 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 0;
		.fh5co-logo{
			color: $brand-white;
			&:hover{
				text-decoration: none;
			}
		}
	}

	ul {
		text-align: left;
		padding: 50px 0 50px 0;
		margin: 0;
		list-style-type: none;
		margin-left: 10%;
		li {
			padding: 0;
			margin: 0;
			font-family: $font-secondary;
			margin-top: 40px;
			.active-menu {
				font-weight: 600;
				font-size: 65px;
			}
			a {
				display: block;
				width: 100%;
				color: rgba($brand-white,.8);
				font-weight: 500;
				font-size: 30px;
				line-height: 30px;
				transition: .8s;

				&:hover, &:active, &:focus {
					color: rgba($brand-white,1);
					outline: none;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.fh5co-social-icon{
		a {
			i {
				color: rgba($brand-white,.5);
			}
		}
	}
}
.fh5co-table {
	display: table;
	width: 100%;
	height: 100%;
	.fh5co-table-cell {
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		.phone_header, .sotial_network {
			display: none;
		}
	}
}

#fh5co-featured {
    background: url(../images/bg-contacts.jpg) no-repeat;
    background-size: cover;
	background-position: 70% 100%;
	padding: 120px 0;
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 400;
	// @include border-radius(30px);
	@include transition(.5s);
	&.btn-md {
		padding: 10px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
		color: $brand-white !important;
	}
}

.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white !important;
		}
	}
}

.btn-additional {
	padding: 10px 24px;
	text-align: center;
	border: 3px solid $brand-black;
	border-radius: 1px;
	transition: all 0.8s ease 0s;
	font-size: 15px;
	font-weight: 500;
	color: $brand-black;
	line-height: normal;
	&:focus {
		text-decoration: none;
		color: $brand-black;
	}
	
	&:hover {
		background-color: $brand-black;
		text-decoration: none;
		transform: scale(1.05);
		color: $brand-white;
	}
}

.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}

.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}

.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}

.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

.btn.with-arrow {
	position: relative;
	@include transition(.3s);
	i {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -8px;
		@include transition(.2s);
	}
	&:hover {
		padding-right: 50px;
		i {
			color: $brand-white;
			right: 18px;
			visibility: visible;
			opacity: 1;
		}
	}
}

.view-button{
	.btn-outline {
		background: transparent;
		color: $brand-black;
		border: 2px solid $brand-black;
		&:hover, &:focus, &:active {
			background: $brand-white !important;
			color: $brand-black !important;
			border: 2px solid $brand-black !important;
		}
	}
}

// Header START
header  {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: $brand-black;
	height: 90px;

	.fh5co-navbar-brand{
		float: left;
		width: 100%;
		position: relative;
		padding: 0;
		h1{
			
			display: block;
			font-family: $font-secondary;
			margin-bottom: 0;
		}		
		.fh5co-logo{
			text-transform: uppercase;
			color: $brand-white;
			font-weight: 700;
			img {
				margin-top: 22px;
			}
			&:hover{
				text-decoration: none !important;
				color: $brand-white !important;
			}
			&:active, &:focus {
				outline: none;
				text-decoration: none;
			}
			span{
				font-size: 12px;
				letter-spacing: 4px;
				display: block;
				margin-bottom: 2px;
				margin-top: 4px;
				color: rgba($brand-white,.3);
				line-height: 20px;
			}
		}
		.fh5co-social-icon{
			margin-top: 10px;
			margin-bottom: 0;
			padding-bottom: 0;
			padding-right: 50px;
			a{
				margin-bottom: 0;
			}
		}
	}
}

// Burger Menu
.fh5co-nav-toggle {
   cursor: pointer;
   text-decoration: none;
   position: absolute !important;
   top: 0;
   right: 0;
   &.active i {
		&::before, &::after {
			background: $brand-white;
		}
  }
  &.dark {
  	&.active i {
			&::before, &::after {
				background: $brand-white;
			}
	  }
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	  position: relative;
	  @include inline-block;
	  width: 30px;
	  height: 4px;
	  color: $brand-black;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: $brand-white;
	  transition: all .2s ease-out;
	  .menu-show & {
			background: $brand-white;
			color: $brand-white;
		}
		&::before, &::after {
	  	   content:'';
		   width: 30px;
		   height: 4px;
		   background: $brand-white;
		   position: absolute;
		   left:0;
	  		.menu-show & {
				background: $brand-white;
			}
	 		@include transition(.2s);
	   }
  }
  &.dark {
  	i {
	  	position: relative;
		  color: $brand-black;
		  background: $brand-black;
		  transition: all .2s ease-out;
			 &::before, &::after {
			  background: $brand-black;
			  @include transition(.2s);
		  }
	  }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
	float: right;
	z-index: 1003;
	position: relative;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 22px;
}

//fh5co-hero
#fh5co-hero {
	min-height: 700px;
	z-index: 1;
	.btn {
		font-size: 24px;
		&.btn-primary {
			padding: 14px 30px!important;
		}
	}
	.flexslider {
		border: none;
		z-index: 1;
		margin-bottom: 0;

		.slides {
			position: relative;
			// overflow: hidden;
			li {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				min-height: 700px;
				position: relative;
				&:after {
					position: absolute !important;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					content: '';
					background: rgba($brand-black,.7);
					z-index: 1;
				}
			}
		}
		.flex-control-nav {
			position: absolute;
			bottom: 5em;
			z-index: 1000;

			li {
				a {
					background: rgba(255,255,255,.2);
					box-shadow: none;
					width: 12px;
					height: 12px;
					cursor: pointer;
					&.flex-active {
						cursor: pointer;
						background: rgba(255,255,255,.7);
					}
				}
			}
		}
		.flex-direction-nav {
			display: none;
		}
		.slider-text {
			display: table;
			opacity: 0;
			height: 700px;
			z-index: 9;
			padding: 0px;
			> .slider-text-inner {
				display: table-cell;
				vertical-align: middle;
				height: 700px;
				h2 {
					font-family: "QG", sans-serif;
					font-size: 90px;
					font-weight: 600;
					margin: 10px 0;
					text-transform: uppercase;
					color: #FFFFFF;
				}
				p{
					color: #fff;
					.btn {
						&:hover {
							color: $brand-black !important;
						}
					}
				}
				span {
					color: rgba($brand-white,.8);
					text-transform: uppercase;
					letter-spacing: 5px;
					font-size: 12px;
					display: block;
					margin-bottom: 20px;
				}
				.fh5co-lead {
					a {
						color: rgba($brand-white,.7);
						border-bottom: 1px solid rgba($brand-white,.5);
						&:hover {
							text-decoration: none;
						}
					}
				}
				.desc {
					-moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.75);
					box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.75);
				}
				.h2-title {font-size: 70px;}
			}
		}
	}
}

#fh5co-blog,
#fh5co-contact-section, 
#fh5co-work-section,
#fh5co-about-section,
#fh5co-map-section
#fh5co-about-contact {
	padding-bottom: 6em;
	background-color: #FFF;
}

#fh5co-about {
	background-color: #F5F5F5;
	padding-top: 160px;
	padding-bottom: 80px;
}

#fh5co-intro-section {
	margin-top: 7em;
	// border-bottom: 1px solid rgba($brand-black,.06);
}

 #fh5co-work-section {
	padding-top: 8em;
	background-color: #fff;
}

.fh5co-heading {
	h2 {
		font-size: 45px;
		font-weight: 600;
		line-height: 1.5;
		color: $brand-black;
	}
	p {
		font-size: 18px;
		color: $brand-black;
		padding-bottom: 40px;
		line-height: 24px;
	}
}

.fh5co-work-section {
	padding-top: 0 !important;
}

.fh5co-heading h2 {
	margin-bottom: 15px;
}

.fh5co-bg-section {
	background: rgba($brand-black,.05);
}

// heading
.intro-heading {
	font-size: 40px;
	font-weight: 300;
	line-height: 1.5;
}

//icon-scroll
.hero {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12rem 2rem;
	color: white;
	background: {
		image: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%), url('https://source.unsplash.com/random/1920x1080/?sky');
		blend-mode: multiply;
		size: cover;
	}
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

.scroll-link {
	position: relative;
	bottom: 3em;
	left: 49.4%;
	z-index: 1000;
}

@keyframes scroll {
	0%, 20% {
		transform: translateY(0) scaleY(1);
	}
	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}
}

@keyframes phone {
	30% { transform: rotate(20deg); }
	50%, 90% { transform: rotate(0deg); }
}

.phone {
	position: absolute;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: white;
}

.phone:nth-child(3) {
	margin-top: 27px;
}

.phone-burger {
	color:$brand-white;
	font-size: 22px;
}

#fh5co-featured {
	background-size: cover;
	display: flex;
	justify-content: space-evenly;
}

.form-registration {
	display: flex;
	flex-direction: column;
}
.numbers, .form-registration {
	justify-content: space-between;
	align-items: center
}

.woks {
	display: flex;
}

.workk img {
	width: 290px;
	height: 370px;
	filter: brightness(40%);
}

.mes {
	P {
		font-size: 16px;
		line-height: 138%;
		color: #FFFFFF;
	}
}

.dizain_bloks {
	display: block;
}

.dizain_progect {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.col-md-6 {
		padding: 0;
	}
}

.section-form {
	margin-top: 4em;
  	padding: 8em 0;
	p {
		color: $brand-white;
	}
	h3 {
		color: $brand-white;
	}
}

.display-tc {
	text-align: left;
	width: 500px;
}

.desc {
	h3 {
		font-weight: 600;
		font-size: 50px;
		line-height: 120%;
		color: #FFFFFF;
	}
	p {
		font-size: 16px;
		margin-top: 30px;
		margin-bottom: 30px;
		line-height: 150%;
		color: #FFFFFF;
		max-width: 500px;
	}
}

.kontacts {
	.pho, .mail {
		margin-right: 10px;
	}
}

.fh5co-counters {
	img {
		height: 606px;
	}
}

.post-entry {
	width: 100%;
	min-height: 700px;
	display: table;
	form {
		z-index: 2;
		top: 100px;
		color: white;
		display: flex;
	}
	.numbers{
		margin-left: 40px;
	}
	input {
		margin-bottom: 20px;
		background-color: rgba(0,0,0,.0);
		outline: none;
		color: white;
	}
	textarea {
		margin-bottom: 20px;
		padding: 7px 15px;
		background-color: #f9f6f3;
		border: 2px solid #000;
		outline: none;
		max-width: 100%;
	}
	.btn {
		display: inline-block;
		padding: 10px 33px;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		background: #000;
		border: 0;
		outline: 0;
		cursor: pointer;
	}
	.display-tc {
		display: table-cell;
		vertical-align: middle;
		height: 700px;
	}
	.desc{
		h3{
			color: $brand-white;
			font-size: 50px;
			line-height: 54px;
		}
		p{
			color: $brand-white;
			margin-bottom: 0;
			font-size: 16px;
    		margin-top: 20px;
		}
		.date{
			display: block;
			margin-bottom: 20px;
			color: rgba($brand-white,.8);
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}
}

//WORK

.hidden {
	display: none;
}

.fh5co-work-section .row {
	margin-left: 0;
	margin-right: 0;
}
.caption_img {
	display: none;
}
.card {
	position: relative;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center center;
	margin-bottom: 2px;
	cursor: pointer;
	.circle {
		display: none;
		position: absolute;
		z-index: 3;
		border: none;
		margin: auto;
		left: 0;
		right: 0;
		top: calc((100% - 100px)/2);
	}
	p {
		font-size: 16px;
		position: absolute;
		margin: 0;
		margin-left: 15px;
    	margin-top: 15px;
		transition: .5s ease;
		z-index: 2;
		color: $brand-primary;
	}
	.area {
		top: 30px;
		font-size: 14px;
	}
	.vertical {
		font-size: 14px;
		margin-left: 10px;
		bottom: 20px;
		writing-mode: vertical-rl; 
		transform: rotate(180deg);
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #222222;
		opacity: 0.7;
		transition: .5s ease;
	}
	&:hover .overlay, &:hover p {
		display: none;
	}
	&:hover .circle {
		display: block;
	}
  }
  
.work ,.work_three, .work_studia {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 370px;
	margin-bottom: 30px;
	.view {
		width: 100%;
		height: 370px;
		display: table;
		// border: 1px solid $brand-black;
		opacity: 0;
		padding: 0;
		margin: 0;
		text-decoration: none;
		color: $brand-white;
		
		span, i {
			height: 370px;
			display: table-cell;
			vertical-align: middle;
			font-size: 12px;
			color: $brand-white;
			text-transform: uppercase;
			letter-spacing: 4px;

		}
	}
	h3 {
		margin-top: 30px;
		a {
			color: $brand-black;
		}
	}
	&:hover, &:focus{
		.view {
			opacity: 1;
		}
	}
}

.fh5co-work-section .work {
	margin-bottom: 0;
}

.work_studia {
	height: 400px;
	margin-bottom: 4px;
	filter: brightness(40%);
}

.work_studia:hover {
	filter: brightness(100%);
}

.text_card {
	text-align: left;
    margin-left: 20px;
	p {
    	color: white;
	}
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner {
	.subtitle {
		text-transform: none;
		font-size: 16px;
		color: #F2F2F2;
		width: 416.43px;
		height: 48px;
	}
}

.fh5co-counters {
	line-height: normal;
	padding: 2em 0;
	background: lighten($brand-black, 90%);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	.heading-section {
		h2 {
			color: $brand-white;
			font-weight: 400;
			font-size: 40px;
		}
	}
	.fh5co-counter {
		font-size: 55px;
		display: block;
		color: $brand-white;
		font-family: $font-primary;
		width: 100%;
		font-weight: 500;
	}
	.fh5co-counter-label {
		color: $brand-white;
		text-align: center;
		font-size: 16px;
		letter-spacing: 1px;
		display: block;
	}
}

.work {
	height: 370px;
	cursor: pointer;
}
.work_one{
	height: 370px;
	margin-bottom: 40px;
	margin-top: 10px;
}
.work_two{
	display: none;
}

.about-content {
	margin-bottom: 8em;
}

.about-content, .about-content_progect, .about-contentss {
	margin-top: 8em;
	width: 45%;
	h1{
		font-size: 40px;
		font-weight: 600;
		color: $brand-black;
		line-height: 130%;
	}
	h2 {
		font-size: 30px;
		margin-top: 60px;
		line-height: 130%;
		color: $brand-black;
	}
	.note {
		font-size: 12px;
		color: $brand-black;
		margin-top: 10px;
		line-height: 130%;
		font-weight: 400;
	}
	p {
		font-size: 14px;
		color: $brand-black;
		margin-top: 40px;
		width: 400px;
	}
}

.about-contentss {
	width: 540px;
}


.about-content_progect {
	margin-bottom: 20px;
}

.abou {
	display: flex;
	justify-content: space-between;
}

.cont {
	p {
		font-weight: 600;
		font-size: 40px;
		line-height: 61px;
		color: $brand-black;
	}
}

.client {
	margin-top: 20px;
	p5 {
		height: 90px;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: $brand-black;
	}
}

.time {
	margin-top: 18px;
}

.time , .time_vel, .time_mts {
	p {
		font-size: 18px;
		line-height: 24px;
		color: #000000;
		line-height: 130%;
	}
	sup {
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
	}
}

.studio {
	width: 50%;
	h1 {
		font-size: 50px;
		font-weight: 600;
		color: white;
		line-height: 61px;
	}
	h2 {
		font-size: 22px;
		color: white;
		margin: 50px 0;
		width: 590px;
		line-height: 130%;
		font-weight: 500;
	}
	p {
		font-size: 16px;
		color: white;
		line-height: 150%;
	}
}

.fh5co-counters_studia {
    font-size: 70px;
    display: block;
    color: #fff;
    font-family: "Montserrat";
    width: 100%;
    font-weight: 500;
	text-align: center;
}

.reg {
	display: flex;
	width: 100%;
}

.reg .tel:first-child {
	margin-right: 20px;
}

.tel {
	width: 100%;
	p {
		font-size: 16px;
		color: #FFFFFF;
		line-height: 150%;
		text-align: left;
	}
	h {
		font-size: 16px;
		color: #FFFFFF;
		line-height: 150%;
	}
}

.messege {
    color: white;
	margin-top: 50px;
	width: 100%;
}

.col-md-3 {
	padding: 0px;
	padding-left: 2px;
}

.foto {
	background-image: url(../images/about.jpg);
	background-size: cover;
	background-position: center center;
	filter: grayscale(100%);
	height: 100%;
	width: 600px;
}

.block_studia {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 6em;
    margin-bottom: 5em;
	
}

.fh5co-staff { 
	// text-align: center;
	margin-bottom: 30px;
	img {
		margin-bottom: 20px;
		background: $brand-white;
		-webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.21);
		-moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.21);
		box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.21);
		@include transition(.3s);
	}
	h3 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 30px;
	}
	.role {
		color: lighten($brand-black, 70%);
		margin-bottom: 30px;
		font-weight: normal;
		display: block;
		font-size: 16px;
	}
	&:hover {
		img {
			background: rgba($brand-primary,.2);
		}
	}
}

// BLOG
#fh5co-blog {
	padding-bottom: 0;
	> a {
		display: block;
		position: relative;
		@include transition(.5s);
		img {
			width: 100%;
		}
	}
	.blog-text {
		margin-bottom: 30px;
		position: relative;
		width: 100%;
		float: left;
		@include transition(.3s);
		span {
			display: inline-block;
			margin-bottom: 20px;
			&.comment {
				float: right;
				font-size: 14px;
				a{
					color: rgba($brand-black,.3);
					i{
						color: $brand-primary;
						padding-left: 7px;
					}
				}
			}
			&.posted_on {
				font-size: 13px;
				letter-spacing: 5px;
				text-transform: uppercase;
			}
		}

		h3 {
			font-size: 30px;
			margin-bottom: 20px;
			line-height: 1.5;
			a {
				color: rgba($brand-black,1);
				text-decoration: none;
			}
		}	
	}
}

.fh5co-social-icons {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		@include inline-block;
		a {
			@include inline-block;
			color: $brand-black;
			padding-left: 10px;
			padding-right: 10px;
			text-decoration: none;
			i {
				font-size: 20px;
			}
		}
	}
}

// Contact
.contact-info {
	margin-bottom: 4em;
	padding: 0;
	li {
		// font-size: 16px;
		list-style: none;
		margin: 0 0 20px 0;
		position: relative;
		padding-left: 40px;
		color: $brand-lighter;
		i {
			position: absolute;
			top: .3em;
			left: 0;
			font-size: 22px;
			color: $brand-lighter;
		}
		a {
			color: $brand-lighter;
		}
	}
}

.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;
	border: 2px solid rgba(0,0,0,.1);
	font-size: 18px;
	font-weight: 300;
	@include border-radius(4px);

	&:focus, &:active {
		box-shadow: none;
		border: 2px solid rgba(0,0,0,.8);
	}
}

input[type="text"] {
	height: 50px;
}

.name_input {
	text-align: left;
	color: white;
}
.numbers {
	width: 100%;
	margin-left: 20px;
	color: white;
	.tel {
		line-height: 1.5;
	}
}

.line {
	padding-right: 40px;
}

// footer
#footer {
	padding: 2em 0 1em 0;
	background-color: $brand-black;
	.footer_none {
		display: none;
	}
	.section-title {
		font-size: 24px;
		font-weight: 400;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		li {
			font-size: 18px;
			list-style: none;
			margin-bottom: 0;
			:hover {
				text-decoration: underline;
			}
			a {
				color: $brand-lighter;
				font-size: 14px;
			}
		}
		&:first-child {
			padding-left: 0;
			color: red;
		}
	}

	.phone {
		position: relative;
	}

	.copy-right {
		font-size: 14px;
	}

	.numbe {
		display: flex;
    	flex-direction: column;
	}

	.float {
		width: 50%;
		float: left;
	}

	a {
		color: rgba($brand-lighter,1);
	&:hover, &:focus{
			text-decoration: none;
			color: $brand-primary;
		}
	}

	.form-inline {
		.form-group {
			width: 100%!important;
			margin-bottom: 10px;
			.form-control {
				width: 100%;
				background: rgba($brand-black,.05);
				border: none;
				@include border-radius(4px);
			}
		}
	}

	#fh5co-header-subscribe {
		#email {
			padding-right: 4em;
		}
		button {
			position: absolute;
			top: 0;
			right: 10px;
			border-top-left-radius: 0px!important;
			border-bottom-left-radius: 0px!important;
			background: $brand-primary;
			border: none;
			i{
				color: $brand-white;
				font-size: 25px;
			}
		}
	}
}

.fh5co-social-icon {
	a {
		padding: 0 5px;
		i {
			color: $brand-black;
		}
		&:hover, &:focus{
			text-decoration: none;
		}
	}
}

// Magnific Popup
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.nopaddingbottom{
	padding-bottom: 0 !important;
}

.animate-box {
	.js & {
		opacity: 0;
	}
}

.dizain_block_two{
	display: none;
}


///---new elements----///

.text_header {
	p {
		font-size: 16px;
	}
	p1 {
		font-size: 16 px;
		color:#d1d1d1;
		margin-top: 20px;
	}
}

.sotial_network, .sotial_network_footer {
list-style-type: none;
display: flex;
margin-top: 22px;
	ul {
	display: flex;
	padding: 0px;
	margin-bottom: 0;
	margin-right: 40px;
	}
	li{
		margin-left: 21px;
		text-decoration: none;
		list-style-type: none;
	}
}

.sotial_network ul {
margin-left: 120px;}

.sotial_network li {
	transform: scale(1);
}

.sotial_network li:hover, .network_footer li:hover {
	transform: scale(1.2);
}

.abou .sotial_network ul, .kontacts .sotial_network ul {
	margin-left: 0;
	li {
		margin-left: 0;
		padding: 5px;
	}
	img {
		width: 35px;
	}
}

.phone_header {
	margin-left: 10px;
	li {
		list-style: none;
	}
}

.network_footer {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	transition: 1s;
	transition: all 1s ease;
	ul {
		margin-left: -50px;
	}
	li {
		margin-top: 0px;
		margin-left: 21px;
	}
}

.copyright {
	margin-top: 45px;
}

.cotial_burger {
	display: none;
}

.form {
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    line-height: 1em;
	h {
		width: 20%;
		color: white;
		font-size: 13px;
	}
}

.bloc_contact {
	display: flex;
    justify-content: space-between;
    margin-top: 58px;
	align-items: center;
}

.progect, .progectss {
	color: inherit;
	border: 3px solid $brand-white;
	border-radius: 1px;
	padding: 5px 24px;
    margin: 0;
	background-color: transparent;
    //background-color: rgba(255,255,255,.8);
    color: $brand-white;
	margin-top: 30px;
	transition: .8s;
	p1 {
		font-size: 15px;
		font-weight: 500;
	}
}

.progect:hover {
	background-color: white;
	transform: scale(1.05);
	color: $brand-black;
}

.progectss {
	margin-top: 0px;
}

.progects {
	padding: 0 24px;
	height: 50px;
	font-size: 15px;
    margin: 0;
	margin-top: 30px;
    background-color: transparent;
	border: 3px solid $brand-white;
    color: $brand-white;
	font-weight: 500;
	transition: all 0.8s ease 0s;
}

.progects:hover {
	color: $brand-black;
	background-color: white;
	transform: scale(1.05);
}

.portfolio {
	margin-top: 20px;
	padding: 10px 24px;
	text-align: center;
	border: 3px solid $brand-black;
	border-radius: 1px;
	transition: all 0.8s ease 0s;
	p {
		font-size: 15px;
		font-weight: 500;
		color: $brand-black;
		line-height: normal;
	}
}

.portfolio:focus {
	text-decoration: none;
}

.portfolio:hover {
	background-color: $brand-black;
	text-decoration: none;
	transform: scale(1.05);
	p {
		color: $brand-white;
	}
}

.consultation {
	padding: 0 24px;
	height: 50px;
	border: 3px solid $brand-white;
	border-radius: 1px;
	box-sizing: border-box;
	background-color: transparent;
	color: $brand-black;
	transition: all 0.8s ease 0s;
	p1 {
		color: $brand-white;
		font-size: 15px;
		line-height: 24px;
		font-weight: 500;
	}
}

.consultation:hover {
	background-color: white;
	transform: scale(1.05);
	p1 {
		color: $brand-black;
	}
}

.phon {
	color: white;
	font-size: 18px;
	line-height: 138%;
}

.ph {
	animation: phone 5s ease-in-out infinite;
}

.bt {
	justify-content: center;
    display: flex;
}

.knopka {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.block_portfolio {
	width: 327px;
	height: 50px;
	background-color: #ffffff00;
	border: 3px solid $brand-black;
	border-radius: 1px;
	margin-bottom: 60px;
	p{
		font-size: 20px;
		font-weight: bold;
		color: $brand-black;
		margin-top: 2px;
	}
}

.block_portfolio:hover {
	background-color: $brand-black;
	p {
		color: #F2F2F2;
	}
}

iframe {
	margin-top: 90px;
	height: 700px;

}

.fh5co-intro-section {
	background: url(../images/bg-consult.jpg) no-repeat;
}

.threestep {
	padding-top: 160px;
	padding-bottom: 80px;
}

.step {
	display: flex;
    justify-content: center;
	text-align: center;
	p {
		font-size: 45px;
		font-weight: 600;
		line-height: 61px;
	}
}

.text_card {
	width: 100%;
	p {
		position: absolute;
		font-size: 16px;
		line-height: 130%;
		color: #a59898;
	}
	p1 {
		position: absolute;
		font-size: 14px;
		color: #FFFFFF;
	}
	div {
		font-size: 16px;
		display: flex;
    	align-items: flex-end;
		color: #FFFFFF;
		position: absolute;
	}
	img {
		position: relative;
		width: 100%; 
		height: 100%;
    	object-fit: cover;	
	}
}
.phonee {
	animation: phone 5s ease-in-out infinite;
}
.flat {
	p {
		transform: rotate(90deg);
		transform-origin: left top 0;
		color: #ffffff;
	}
}

.about {
	display: flex;
}

.img-responsive {
	width: 840px;
	height: 370px;
	border-radius: 1px;
}

.dizain_block ,.dizain_block_one {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}


.circle, .circle_two {
	border: 1px solid $brand-black;
	border-radius: 50%;
	padding: 20px;
  p {
	  text-align: center;
	  font-size: 30px;
	  color: $brand-black;
	  font-weight: 500;
  }
}

.circle_two{
	margin-left: 57px;
	p {
		margin-left: 2px;
	}
}

.texts ,.texts_two , .texts_three {
	margin-left: 25px;
	h1 {
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 28px;
		color: $brand-black;
	}
	p {
		font-size: 12px;
		line-height: 180%;
		color: $brand-black;
	}
	ul {
		padding-left: 15px;
	}
	li {
		font-size: 14px;
	}
}


.texts_three {
	p1 {
		margin-top: 35px;
	}
}

.works, .works_two ,.works_three {
    height: 240px;
	background-size: cover;
}

.works_two{
	margin-left: 0px;
}

.contc_align {
	display: flex;
	align-items: center;
	background-image: url(../images/bg-consult.jpg);
	background-size: cover;
	background-position: 20% 100%;
	width: 100%;
	z-index: 2;
	padding-top: 120px;
	padding-bottom: 120px;
}

.konsultation {
	h2 {
		font-size: 50px;
		color: white;
		font-weight: 600;
	}
	h3 {
		font-size: 20px;
		line-height: 150%;
		color: #FFFFFF;
		font-weight: 400;
	}
}

.form-input_name, .form-input_tell ,.input_name_dizain ,.input_tell_dizain {
    display: inline-block;
	width: 100%;
    border-width: 0;
    border-bottom: 1px solid $brand-body-color;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #0000;
	outline: none;
	color: white;
}

.content{
	display: flex;
}
.text{
	margin-left: 150px;
}

.form-input_tell, .input_tell_dizain {
	background: url(../images/Flag.jpg); 
	background-repeat: no-repeat ;
	padding-left: 25px;
	background-position: left;
	height: min-content;
}


.input_name_dizain ,.input_tell_dizain {
	font-size: 14px;
}

.step {
	h2 {
		font-size: 50px;
		font-weight: 500;
		text-align: center;
	}
}

input {
	font-size: 16px;
}

.row_footer {
	display: flex;
}

.footer_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: white;
	ul {
	display: flex;
		li:nth-child(2) {
			margin-left: 76px;
			margin-right: 76px;
		}
	}
}

.footer_menu p1 {
	color: white;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.footer_menu p1:hover {
	text-decoration: underline;
}

.number{
	p{
		font-size: 20px;
		color: white;
	}
}

.soc {
	margin-top: -65px;
}

.phone_header {
	margin-top: 20px;
    margin-left: 62px;
}
.phone_adaptive {
	display: none;
}

.works_two_adapt {
	display: none;
}

.form-inputs {
	width: 100%;
	font-size: 14px;
	color: white;
	margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: white;
    display: inline-block;
    border-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
	border-bottom: 1px solid #e9e8e8;
}

.fot {
	display: flex;
}

.fh5co-logo img {
    height: 45px;
	&:hover {
		background-color: rgba(255,255,255,.2);
	}
}

.count_one {
	margin-bottom: 50px;
}

.circle_mob ,.texts_mob ,.dizain_mob ,.work_mob {
	display: none;
}

.one_blockk ,.two_blockk {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.logo_burger,.number_burger ,.cotial_burger, .cont_footer_adpt {
	display: none;
}

.work img {
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	width: 70px;
}

.dizain_block_one_adapt {
	display: none;
}

.contacts {
	display: flex;
}

// Section accordeon

#question1, #question2, #question3, #question4{
    padding-top: 80px;
    margin-top: -80px;
}

.accordion-item hr, .container hr {
	border: .5px solid #c9c9c9;
	margin-top: 0;
	margin-bottom: 0;
}
.accordion a {
  color: $brand-black;
  text-decoration: none;
}
.accordion a:hover {
  color: #777;
}
.accordion-link {
  color: $brand-black;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.accordion-link h3 {
  font-weight: 500;
  font-size: 22px;
  text-decoration: underline;
}
.accordion-link span {
  color: $brand-black;
  padding-right: 8px;
  font-size: 35px;
  text-align: right;
}
.accordion-link div {
  display: flex;
}
.accordion-link .iconify.arrow {
  display: none;
}
.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
}
.answer ul {
  list-style: none;
  padding-left: 0;
}
.answer li {
  color: $brand-black;
  margin-bottom: 10px;
  font-size: 16px;
}
.accordion-item:target .answer {
  max-height: 44rem;
  padding-bottom: 30px;
}
.iconify {
  font-size: 30px;
}
.accordion-item:target .accordion-link .iconify.plus {
  display: none
}

.accordion-item:target .accordion-link .iconify.arrow {
  display: block;
}

p2 {font-weight: 600;}

// Scroll icon
$mouse_width: 30px;
$mouse_height: 50px;
$border_width: 2px;

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($animations) {
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

$wheel_size: $border_width * 3;

@include keyframes(mouse-scroll) {
  0%   { top: 10%; opacity: 1; }
  80% { opacity: 1; }
  100% { top: 30%; opacity: 0; }
}

.scroll-msg-container {
	position: absolute;
	z-index: 2;
	bottom: 2%;
	left: 50%;
	width: $mouse_width + $border_width*2;
	height: $mouse_height + $border_width*2;
	margin-top: - ($mouse_height + $border_width * 2) * 0.5;
	margin-left: - ($mouse_width + $border_width * 2) * 0.5;
}
.scroll-msg-inner {
	width: $mouse_width;
	height: $mouse_height;
	position: relative;
	border-radius: $mouse_width/2 + $border_width * 2;
	border: $border_width solid $brand-body-color;
}
.scroll-msg-wheel {
	position: absolute;
	top: 10%;
	left: 50%;
	width: $wheel_size;
	height: $wheel_size;
	margin-left: -$wheel_size/2;
	border-radius: 50%;
	background-color: $brand-body-color;
	
	@include animation(mouse-scroll .9s infinite);
}

//Modal
.modal-open {
	padding-right: 0!important;
}

.modal-dialog {
	max-width: 500px;
	margin-top: calc( 50vh - (216px/2));
}

.modal-content {
	padding: 40px;
	text-align: center;
	h3 {
		font-weight: 600;
		font-size: 25px;
		line-height: 150%;
	}
	p {
		margin-top: 10px;
		font-size: 14px;
		line-height: 150%;
	}
}

.a-enter-vr {
	top: 0;
	margin-top: 100px;
	right: 0;
	bottom: 0;
}

.footer_360 {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
}

@media (max-width: 1500px) {
	.bloc_contact{
		text-align: left;
	}

	.cont_footer_adpt, .dizain_block_one_adapt, .dizain_block_two {
		display: none;
	}
}


@media (max-width: 1200px) {
	.contcts {
		display: flex;
		align-items: center;
	}
	.form {
		flex-direction: column;
		margin: o auto;
		h {
			width: 100%;
			text-align: center;
		}
	}
	#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
		width: 100%;
	}

	#fh5co-featured {
		padding-top: 8em;
		padding-bottom: 8em;
	}

	#footer ul li {
		margin-left: 40px;
	}

	#footer ul li:nth-child(2) {
		margin-right: 0;
	}

	.sotial_network ul {
		margin-left: 0px;
	}

	.dizain_progect {
		justify-content: space-between;
	}
	.desc h3 {
		font-size: 45px;
	}
	#footer .numbe {
		margin-left: 0px;
	}
	.fot {
		justify-content: space-between;
	}
	#footer ul {
		margin-left: 0px;
	}
	.step p ,.fh5co-heading h2 ,.konsultation h2 {
		font-size: 45px;
	}

	.form_one ,.form-input_tell {
		margin-top: 30px;
	}
	.consultation {
		margin-top: 40px;
	}
	.form-input_name ,.form-input_tell {
		width: 450px;
	}


	//ABOUT PAGE
	.fh5co-counters_studia {
		font-size: 70px;
	}
	.fh5co-counters .fh5co-counter-label {
		font-size: 16px;
	}
	.count_one {
		margin-bottom: 100px;
	}
}

@media (max-width: 1000px){
	.konsultation h2 {
		margin-bottom: 10px;
	}
	.dizain_block_one_adapt {
		display:block;
		display: flex;
		flex-wrap: wrap;
	}
	.fh5co-counter-label {
		margin-bottom: 40px;
		.last-number {
			margin-bottom: 0;
		}
	}
	.two_blockk, .one_blockk {
		flex-wrap: wrap;
	}
	.works_two_adapt {
		display: block;
		margin-top: 50px;
		margin-right: -20px;
	img {
		width: 750px;
		height: 300px;
		margin-left: 50px;}
	}
	.number_burger ,.cotial_burger {
		display: block;
		margin-top: 50px;
		text-align: left;
		margin-left: 160px;
		padding: 10px;
	}
	.phone {
		position: absolute;
	}
	.ph {
		p1 {
			text-align: left;
			margin-left: 160px;
			padding: 10px;
		}
	}
	.cotial_burger {
		margin-left: 0px;
	}

	.fh5co-main-nav ul li a {
		font-size: 40px;
	}
	.cotial_burger {
		margin-left: 150px;
		padding: 10px;
		li {
			display: contents;
			text-decoration: none;
			margin-left: 18px;
		}
	}
	.bloc_contact {
		margin-top: 0px;
	}
	#fh5co-main-nav ul {
		padding: 0px;
	}

	.sotial_network {
		display: none;
	}

	.dizain_progect {
		flex-wrap: wrap;
	}
	.dizain_bloks {
		margin-top: 0px;
	}
	.fot {
		flex-wrap: wrap;
	}
	#footer ul {
		flex-wrap: wrap;
	}

	.circle, .circle_two {
		margin-left: 20px;
	}

	.dizain_block, .dizain_block_one {
		margin-top: 0px;
	}

	#footer ul li {
		margin-left: 30px;
	}

	.step p, .fh5co-heading h2 {
		font-size: 35px;
	}
	.dizain_block {
		margin-top: 0px;
	}

	.works ,.works_three {
		margin-top: 50px;
		margin-left: 0px;
		width: -webkit-fill-available;
	}
	.dizain_block_two {
		display: block;
	}
	#fh5co-about {
		padding-left: 15px;
		padding-right: 15px;
	}

	//Portfolio
	#fh5co-work-section {
		padding: 70px 0;
	}
	.fh5co-heading h2 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		text-align: left;	
		width: 294px;
	}
	.fh5co-heading p {
		font-size: 14px;
		line-height: 130%;
		text-align: left;
		width: 80%;
		margin-top: 10px;
		margin-bottom: 30px;
		padding-bottom: 0;
	}
	.work {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 10px;
	}
	.work_disabled {
		display: none;
	}
	.portfolio {
		p {
			font-size: 18px;
		}
	}

	//Process
	.threestep {
		padding: 70px 15px 0 15px;
		.fh5co-heading p {
			width: 60%;
			margin-bottom: 60px;
		}
		.circle, .circle_two {
			height: 60px;
			width: 60px;
			margin-left: 0px;
			P {
				font-weight: 300;
				font-size: 35px;
				line-height: 20px;
				text-align: center;
			}
		}
		.texts h1, .texts_two h1, .texts_three h1 {
			font-weight: 600;
			font-size: 24px;
			line-height: 40px;
			margin-top: 7px;
		}
		.texts p, .texts_two p, .texts_three p {
			font-size: 14px;
			width: 100%;
		}
		.works, .works_three {
			margin-top: 10px;
			height: 170px;
		}
		.texts, .texts_two, .texts_three {
			margin-left: 0;
			margin-top: 0;
			padding-left: 0;
			padding-right: 0;
		}
		.texts.col-md-4, .texts_two.col-md-4, .texts_three.col-md-4 {
			padding: 0 !important;
			margin-top: 0;
		}
		.dizain_block {
			margin-bottom: 40px;
		}
	}

	//Contacts
	#fh5co-featured {
		padding: 70px 0;
		.desc {
			margin-top: 0;
			h3 {
				font-weight: 600;
				font-size: 30px;
				line-height: 150%;
			}
			p {
				margin-top: 16px;
				font-size: 15px;
				line-height: 150%;
			}
			.kontacts {
				margin-top: 16px;
			}
		}
		.container {
			padding: 0 !important;
		}
		.reg {
			flex-direction: column;
			margin-top: 75px;
			.tel {
				margin-bottom: 40px;
			}
		}
		.messege {
			margin-top: 0;
		}
		.progects {
			margin-top: 0;
			width: 311px;
			p {
				font-size: 18px;
			}
		}
	}

	//Footer
	.logo_footer {
		img {
			width: 100px;
			height: inherit;
		}
	}
	#footer {
		ul {
			display: none;
			li {
				margin-top: 15px;
			}
		}
		.footer_none {
			display: block;
			margin-top: 40px;
			ul {
				display: block;
				text-align: center;
				li {
					margin-left: 0;
					img {
						width: 50px;
					}
				}
			}
		}
		.numbe {
			p1 {
				font-size: 16px;
			}
		}
		.network_footer {
			justify-content: center;
			margin-top: 20px;
			margin-bottom: 20px;
			li:first-child {
				margin-left: 0;
			}
			img {
				width: 30px;
			}
		}
	}

	//ABOUT PAGE
	.abou {
		flex-direction: column;
		.about-content {
			margin-top: 150px;
			margin-bottom: 60px;
		}
		.about-content, .about-content_progect, .about-contentss {
			width: 100%;
		}
		.about-content p, .about-content_progect p, .about-contentss p {
			width: 100%;
		}
		
		.foto {
			height: 378px;
			width: 100%;
			margin-bottom: 60px;
		}

		.sotial_network {
			display: flex;
		}

	}
	.studio h2 {
		width: 100%;
	}

	.card {
		margin-bottom: 15px;
	}

	//CONTACTS PAGE
	.about-contentss {
		width: 100%;
	}
	.about-content p, .about-content_progect p, .about-contentss p {
		width: 100%;
	}
	iframe {
		width: 100%;
		margin: 40px 0 7em 0;
		height: 300px;
	}

}

@media (max-width: 600px){
	.text_header {
		text-align: left;
	}
	.progect {
		justify-content: left;
		display: flex;
	}

	//Header
	header {
		height: inherit;
		.phone_header {
			margin: 0;
			.phone {
				display: none;
			}
			.phone_adaptive {
				display: block;
				position: absolute;
				right: 2.5em;
				margin-top: 10px;
				img {
					width: 28px;
				}
			}

		}

		.fh5co-navbar-brand {
			height: 60px;
			.fh5co-logo img {
				margin-top: 7px;
			}
		}
		.fh5co-nav-toggle {
			margin-top: 6px;
			i, i::before, i::after {
				background: $brand-body-color;
			}
			i::before {
				top: -10px;
			}
			i::after {
				bottom: -10px;
			}	
		}
	}

	//Burger-menu
	.logo_burger {
		display: block;
		text-align: left;
		padding-left: 20px;
		position: absolute;
		top: 60px;
		.burger {
			width: 50px;
		}
	}
	#fh5co-main-nav {
		.fh5co-nav-toggle {
			right: 15px;
		}
		.phone_header {
			display: block;
			margin-top: 0;
			margin-bottom: 0;
			.phone {
				left: 0;
				bottom: 110px;
				text-align: left;
				margin-top: 0;
				margin-left: 0;
				padding-left: 20px;
			}
		}
		.sotial_network {
			display: block;
			img {
				width: 38px;
				margin-right: 18px;
			}
			ul {
				position: absolute;
				bottom: 60px;
				li {
				margin-top: 0;
				}
			}
		}
		ul {
			margin-left: 0;
			padding-left: 20px;
			margin-top: 0;
			li {
				margin-top: 50px;
				.active-menu {
					font-size: 40px;
				}
				a {
					padding-bottom: 0px;
					font-size: 24px;
				}
			}
		}
	}
	

	//Main
	#fh5co-hero .flexslider .slider-text > .slider-text-inner {
		p {
			font-size: 12px;
			color: #fff;
			line-height: 150%;
			text-align: left;
		}
		h2 {
			font-weight: 600;
			color: #FFFFFF;
			text-align: left;
			font-size: 50px;
			margin: 20px 0;
		}
		.subtitle {
			font-size: 13px;
			line-height: 150%;
			width: 80%;
			text-align: left;
			height: auto;
		}	
	}
	.progect {
		margin-top: 20px;
		p1 {
			font-size: 18px;
			width: 100%;
			text-align: center;
		}
	}
	
	//Numbers
	.fh5co-counters {
		padding: 60px 0;
		.fh5co-counter {
			font-size: 50px;
		}
	}
	.fh5co-counter-label {
		margin-bottom: 3em;
	}
	.last-number {
		margin-bottom: 0;
	}

	//Call us
	.contc_align {
		padding: 120px 0;
		height: auto;
		.konsultation {	
			h2 {
				font-size: 32px;
				line-height: 39px;
				text-align: left;
			}
			h3 {
				font-size: 15px;
				line-height: 150%;
				text-align: left;
			}
		}
	}

	.form {
		align-items: flex-start;
		font-size: 15px;
		line-height: 140%;
		h {
			margin-top: 28px;
			font-size: 15px;
			text-align: left;
		}
		.form_one, .form_two {
			width: 100%;
			margin-top: 50px;
			.form-input_tell {
				margin-top: 0;
			}
		}
		.form_three {
			margin-top: 40px;
		}
		.form-input_name, .form-input_tell {
			width: 100%;
		}
		.consultation {
			margin-top: 0;
		}
	}
	
	//Services
	#fh5co-about {
		padding: 70px 0;
		.accordion-link {
			h3 {
				font-size: 18px;
				font-weight: 600;
			}
			svg {
				width: 25px;
			}
			.accordion a {
				padding: 15px 0;
			}
		}
		.answer li {
			font-size: 15px;
		}
		hr {
			margin: 0;
		}
	}

	//ABOUT PAGE

	.about-content {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 150px;
		h1 {
			font-weight: 600;
			font-size: 32px;
			line-height: 140%;
		}
		h2 {
			margin-top: 20px;
			font-weight: 500;
			font-size: 24px;
			line-height: 130%;
		}
		p1 {
			font-size: 12px;
			line-height: 130%;
			display: flex;
			flex-wrap: wrap;
			width: 200px;
		}
		p {
			font-size: 14px;
			line-height: 150%;
		}
	}
	.abou .foto {
		margin-bottom: 0;
	}
	.about-content_progect {
		margin-top: 140px;
	}
	.about-content_progect h1 {
		font-weight: 600;
		font-size: 32px;
		line-height: 130%;
	}
	.about-contentss {
		margin-bottom: 0px;
		margin-top: 150px;
	}

	.knopka {
		margin-top: 19px;
	}
	
	.phone_footer_adapt {
		margin-left: 100px;
	}
	.phone_footer_ad {
		font-size: 12px;
		margin-top: 4px;
	}

	.kontacts ,.form-registration {
		margin-top: 0px;
	}

	.line {
		display: none;
	}
	.number_burger, .cotial_burger {
		margin-left: 10px;
	}
	.number_burger {
		margin-top: 130px;
		a {
			color: #fff;
			font-size: 15px;
		}
	}
	.cotial_burger {
		padding: 0px;
		margin-top: 0px;
	}
	.cotial_burger li {
		display: initial;
		text-decoration: none;
		margin-left: 15px;
	}
	.texts {
		margin-left: 0px;
	}
	#footer ul {
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.step p {
		font-weight: 500;
		font-size: 32px;
		line-height: 150%;
		width: 294px;
		height: 146px;
		margin-left: -50px;
	}

	.works_two_adapt img {
		width: 400px;
		height: 300px;
	}

	.texts {
		margin-top: 70px;
	}

	.texts_two h1, .texts_three h1 {
		margin-top: 30px;
	}
	.texts p1, .texts_two p1, .texts_three p1 {
		width: 210px;
		height: 105px;
		font-size: 14px;
		line-height: 150%;
		margin-left: 15px;
		margin-top: -20px;
	}
	.phonee_footer_adapt {
		img {
			margin-top: 3px;
			width: 12px;
			animation: phone 5s ease-in-out infinite;
		}
	}
	.phonee {
		animation: phone 5s ease-in-out infinite;
	}
	.texts_two p1 ,.texts_three p1 {
		width: 236px;
	}

	#fh5co-featured {
		display: block;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 0px;
	}
	.kontacts_block {
		display: block;
	}
	.form-registration, .dizain_progect {
		display: block;
	}
	.fot {
		display: block;
	}
	.footer_menu {
		flex-direction: column;
	}
	.footer_menu ul {
		display: block;
	}
	.footer_menu ul li {
	display: block;
	}

	.footer_menu ul li:nth-child(2) {
		margin: 0;
	}
	#fh5co-main-nav ul li a.phone {
		font-size: 20px;
		margin-bottom: 10px;
	}

	#footer a {
		line-height: 40px;
		color: white;
		text-align: center;
	}
	.footer_menu p1 {
		font-size: 18px;
	}
	.phon {
		font-size: 15px;
	}
	.numbers{
		margin-left: 0px;
	}
	.about-contentss {
		width: 300px;
	}

	.time ,.time_vel ,.time_mts {
		width: 224px;
		p {
			font-size: 15px;
			line-height: 130%;	
		}
		p2 {
			font-weight: bold;
			font-size: 18px;
			line-height: 130%;
		}
	}


	.block_studia {
		margin-top: 0;
		margin-bottom: 0;
		flex-direction: column;
	}
	.studio {
		width: 100%;
		h1 {
			font-weight: 600;
			font-size: 32px;
			line-height: 39px;
		}
		h2 {
			font-weight: 500;
			font-size: 20px;
			line-height: 130%;
			margin-top: 40px;
			margin-bottom: 0;
		}
		p {
			font-size: 14px;
			line-height: 150%;
			margin-top: 20px;
			
		}
	}
	.one {
		margin-top: 40px;
	}
	.count_one {
		margin-bottom: 20px;
	}
	.fh5co-counters_studia {
		
		text-align: center;
	}
	.block_portfolio {
		width: 288px;
		height: 55px;
		margin-bottom: 52px;
		p {
			font-size: 18px;
			line-height: 22px;
			margin-top: 8px;
		}
	}
	.foto {
		width: 345px;
		height: 376px;
	}
	#fh5co-blog {
		padding-bottom:0px;
	}

	a:hover {
		padding-left: 0;
	}

	//CONTACTS PAGE
	.cont p {
		margin-top: 0;
	}
	.about-contentss {
		width: 100%;
	}
	.time, .time_vel, .time_mts {
		width: 100%;
	}
	.time p, .time_vel p, .time_mts p {
		font-size: 12px;
	}
	.client {
		margin-top: 0;
		font-weight: 500;
		line-height: 150%;
		display: flex;
		flex-wrap: wrap;
		p {
			margin-top: 0;
		}
		p5 {
			font-size: 15px;
			line-height: 150%;
			font-weight: 500;
		}
	}
	iframe {
		margin-bottom: 15px;
	}
	.time_mail p2, .time_mts p2, .time_vel p2 {
		display: block;
	}

	.card:hover, .work:hover {
		display: none;
	}

	//Modal
	.modal-content {
		h3 {
			font-size: 16px;	
		}
		p {
			font-size: 13px;
		}
	}
}

//Fancybox gallery

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
	border-color: white;
}