/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	h1 {
	font-size: 50px	
	}
	.top_header h2{
	font-size: 30px	
	}
	
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	h1 {
	font-size: 42px	
	}
	.top_header h2{
	font-size: 29px	
	}
	.logo {
		font-size: 35px;
	}
	.top_phone .tab_item 
	{
		font-size: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_phone, .logo, h1, .top_header h1, .top_header h2 {
		text-align: center;
	}
	.logo {
		margin-bottom: 15px;
	}
	.top_phone .tab_item {
	font-size: 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_header {
		margin-top: 30px;
	}
	.logo {
		font-size: 28px;
	}
	.top_header h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.top_header h2 {
		font-size: 20px;
	}
	.tabs {
		font-size: 15px;
	}
	.tabs_header .tabs .tab {
		font-size: 11px;
		padding: 15px 15px;
	}
	.top_phone .tab_item {
	font-size: 25px;
	}
	.button_wrap {
		text-align: center;
	}
	.tabs_header .tab_content{
		width: 285px;
		font-size: 12px;
	}
	.button_wrap  {
		padding-top: 13px ;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media (min-height : 780px) and (min-width: 1400px) {
	.tabs_header {
		position: absolute;
		bottom: 150px;
	}
	.tabs_header > div {
		width: 100%;
		max-width: 660px;
	}
	.top_header {
		margin-top: 165px;
	}
}