@media screen and (max-width: 1200px){
	.menu .menu_bottom .but_menu li {
		width: 85%}
	



}

@media screen and (max-width: 900px){
	#block-for-slider {
		display: none;}

	mobile {
		display: block;}
}