@media screen and (max-width: 2500px){
	.menu .menu_bottom {
		margin-left: 60px;}
}

@media screen and (max-width: 1920px){
	.menu .menu_bottom {
		margin-left: 55px;}
}

@media screen and (max-width: 1840px){
	.photo_gal a {
		width: 32.7%}
	
	.photo_gal a:nth-child(2),.photo_gal a:nth-child(6),.photo_gal a:nth-child(12),.photo_gal a:nth-child(16) {
		width: 66%
	}
}
	
@media screen and (max-width: 1600px){
	.menu .menu_bottom {
		margin-left: 40px;}
}

@media screen and (max-width: 1350px){
	.photo_gal a {
		width: 32.4%;}
	
	.photo_gal a:nth-child(2),.photo_gal a:nth-child(6),.photo_gal a:nth-child(12),.photo_gal a:nth-child(16) {
		width: 65.6%
	}
	
		#text_gal {
		margin: 10% 0 10% 14%;}
}

@media screen and (max-width: 1300px){
	.menu .menu_bottom {
		margin-left: 35px;}
	
	.menu img {
		width: 8em;
	}
	
	.menu .info a {
		font-size: .8em;
	}
	
	.menu .menu_bottom .but_menu li {
		font-size: .6em;
	}
	
	.photo_gal .small:hover .gal_mal {
		font-size: 14px;
		margin-top: 27%;
		margin-left: 18%;
		padding-left: 6%;
		padding-right: 6%;
	}
	.photo_gal .small:hover .gal_big {
		font-size: 14px;
		margin-top: 14%;
		margin-left: 35%;
		padding-left: 2%;
		padding-right: 2%;
	}
}

@media screen and (max-width: 1100px){
	.menu .menu_bottom {
		margin-left: 28px;}
	
	.menu .menu_bottom .socials {
		margin-top: 10px;
	}
}

/* Мобльная версия*/

@media screen and (max-width: 900px) {
  #block-for-slider {
		display: none;}

	mobile {
		display: block;}
	
	mobile .main img {
		width: 70%;
		margin-top: 20vh;
	}
	mobile .main .overlay-for-slider-black {
		height: 80vh;
	}
	
	mobile .main .socials {
		margin-top: 30vh;
	}
	
	mobile .swiper-container .gal_mal {
		margin-top: 17vh;
	}
	
	mobile .last img {
		margin-top: 30vh;
	}
}

@media screen and (max-width: 600px) {
	
	mobile .main img {
		width: 88%;
		margin-top: 22vh;
	}
	mobile .main .overlay-for-slider-black {
		height: 100%;
	}
	
	mobile .main .socials {
		margin-top: 27vh;
	}
	
	mobile .swiper-container .gal_mal {
		margin-top: 28vh;
	}
	
	mobile .o_stydii_naz .uslygi {
		width: 80%;
		padding-left: 10%;
	}
	
	mobile .last img {
		margin-top: 25vh;
	}
	
	mobile .swiper-container .gal_mal i {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 450px) {
		mobile .swiper-container .gal_mal {
		margin-top: 38vh;
	}
}

@media screen and (max-width: 450px){
mobile .last .telephone {
	font-size: 1.2em;
}
	mobile .last .overlay-for-slider-black {
		height: 500px;
	}
	mobile .last .bg_mobile {
		height: 500px;
	}
}

