@charset "UTF-8";
body {
  color: #2c2b2c;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

ul {
  padding: 0;
  color: #ffffff;
  list-style: none; }

i {
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff; }

/*Навигация слайдера */
.block_navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  height: 100%; }

#prev-next-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding: 0 30px 30px 30px; }

#prev-btn, #next-btn {
  z-index: 3;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3); }

#prev-btn i {
  color: #2c2b2c;
  font-size: 50px;
  margin: 0 25%;
  line-height: 50px; }

#next-btn i {
  color: #2c2b2c;
  font-size: 50px;
  margin: 0 35%;
  line-height: 50px; }

#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
  background-color: #8a8787;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out; }

/*Меню */
.main {
  display: flex;
  flex-direction: column;
  height: 620px;
  background-color: rgba(0, 0, 0, 0.85); }
  .main img {
    width: 85%;
    margin: 68% auto 0;
    align-content: center; }
	.socials {
      margin: 46% auto 5px auto; }
      .socials a {
        position: relative; }
      .socials i {
        font-size: 2.1em; }
      .socials .poloska {
        display: inline-block;
        width: 2px;
        height: 22px;
        background: #ffffff;
        margin: 0 20px; }
	.maximilian {
      position: relative;
      margin: 8% auto 0 auto;
      color: #b1b1b1;
      font-size: 0.9em; }

  .info {
    margin: 22px auto 0;
    font-size: 1.07em;
    font-weight: 300; }
  .info a {
      position: relative;
      font-size: 1em;
      top: 0;
      right: 0; }
    .info li {
      padding-bottom: 15px; }
      .info li i {
        font-size: 1.5em;
        padding-right: 0.6em;
        padding-left: 3px;
        animation-delay: 2s; }
      .info li .fa.fa-envelope-o {
        font-size: 1em;
        padding-right: 0.9em;
        padding-left: 0; }
      .info li .fa.fa-map-marker {
        font-size: 1em;
        padding-right: 1em;
        padding-left: 4px; }
    .info .uslygi, .menu .info .stydii {
      display: none;
      font-size: 1.07em;
      font-weight: 300;
      color: #ffffff;
      list-style: square outside; }
      .info .uslygi li, .info .stydii li {
        margin-left: 20px; }
      .info .uslygi li:first-child, .info .stydii li:first-child {
        list-style: none; }
    .menu .info .stydii {
      font-size: 0.9em;
      width: 270px; }
  .menu .menu_bottom {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px; }
    .menu .menu_bottom .but_menu a {
      position: relative;
      top: 0;
      right: 0; }
    .menu .menu_bottom .but_menu li {
      width: 267px;
      padding: 10px 0;
      border: 2px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 22px;
      font-size: 0.7em; }
      .menu .menu_bottom .but_menu li i {
        padding: 0 12px; }
    .menu .menu_bottom .but_menu li:hover {
      background: rgba(255, 255, 255, 0.3);
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out; }
    
    


.overlay-for-slider {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); }

/*Секция Слайдер */
#block-for-slider {
  width: 100%;
  margin: 0 auto; }

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center; }

#slidewrapper {
  position: relative;
  width: calc(100% * 5);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  -o-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1); }

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0; }

.slide {
  width: calc(100%/5);
  list-style: none;
  display: inline;
  float: left; }

.slide-img {
  width: 100%; }
